:root {
	--white-color-text: rgba(237, 237, 237, 0.9);
	--gray-color-table: rgba(237, 237, 237, 0.7);
	--dark-color-text: rgb(45, 133, 138);
	/* --load-color: rgb(221, 220, 220); */
	--load-color: rgba(225, 225, 225, 0.99);
}
